.game-page {
    width: 100%;
    display: grid;
    grid-template-columns: 300px calc(100% - 600px) 300px;
    grid-template-rows: 300px auto 300px;
    justify-content: center;
    gap: 10px;
    height: 100vh;
    padding: 10px;
}

@media (max-width:1440px) {
    .game-page {
        grid-template-columns: 200px calc(100% - 440px) 200px;
        grid-template-rows: 210px auto 210px;
    }
}

@media (max-width: 1024px) {
    .game-page {
        grid-template-columns: 210px calc(100% - 450px) 210px;
        grid-template-rows: 220px auto 220px;
    }
}

@media (max-width: 768px) {
    .game-page {
        grid-template-columns: 220px calc(100% - 200px) 100px;
        grid-template-rows: 80px auto 80px;
    }
}

.left-side-hand {
    align-self: center;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    transform: rotate(270deg);
}

.right-side-hand {
    align-self: center;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    transform: rotate(90deg);
}

.top-side-hand {
    justify-self: center;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transform: rotate(180deg);
}

.bottom-side-hand {
    justify-self: center;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.game-area {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 2px solid #000;
    margin: 10px;
}